body {
 font-family: Arial, sans-serif;
 background-color: #962121;
 color: #333;
 margin: 0;
 padding: 0;
}

header {
 background-color: #590E13;
 color: white;
 text-align: center;
 padding: 25px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

.bloque {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #7D1B22;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bloque img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.texto {
  flex: 1;
}

.texto h2 {
  color: black;
  margin-bottom: 10px;
}

.texto p {
  color: #000000;
  line-height: 1.5;
}

img {
  width: 500px;
  border-radius: 10px;
  }

nav ul {
      list-style: none; 
      padding: 0;
    }

    nav ul li {
      display: inline-block;
      margin-right: 20px;
    }

    nav ul li a {
      text-decoration: none;
      color: #FCFCFC;
    }

    nav ul li a {
      text-decoration: none;
      color: #FCFCFC;
    }

footer {
	text-align: center;
	background-color: #4D0A0A;
	color: white;
	padding: 15px;
	margin-top: 10;
}